* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
}

body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100vh;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    background: linear-gradient(#ba0f42, #54071e, #fa1459);
}

.header {
    background-color: #B81A47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    color: #000;
    text-decoration: none;
    font-size: medium;
}

.header .nav-links li a:hover {
    color: coral;
}

.header .btn button {
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: aliceblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: small;
}

.header .btn button:hover {
    background-color: aliceblue;
    color: coral;
    transform: scale(1.1);
}

#section_wrapper {
    width: 100%;
    min-width: 1000px;
    background-color: #6e0927;
}

#section {
    width: 1080px;
    margin: 0px auto;
    padding: 3px;
}

#section #sitename {
    text-align: end;
}

#section #sitename a {
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
}

#div1 {
    margin-top: 1rem;
}

#div1 p {
    font-size: xx-large;
}


/* TABLA */

table {
    margin-top: 0.5rem;
    border-collapse: collapse;
    width: 90%;
}

table thead a {
    color: #000;
    text-decoration: none;
}

table tr {
    width: 500px;
}

table tr td {
    font-size: medium;
    padding: .5rem;
    text-align: center;
}


/* PIE DE PÃGINA*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #6e092745;
    font-size: small;
}

footer>.info {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*REDES SOCIALES*/

footer>.info>.redes-sociales {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

footer>.info>.redes-sociales>a>img {
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}


/*EQUIPO*/

footer>.info>.equipo {
    padding-inline-end: 8px;
}

footer .integrante {
    list-style: none;
    font-style: italic;
    font-size: x-small;
    text-align: end;
}

footer>.materia {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}