* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
}

body {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    background: linear-gradient(rgb(255, 255, 255), #ffffff);
    min-height: 100vh;
}

#header_wrapper {
    width: 100%;
    min-width: 1000px;
    background-color: #922148;
}

#header {
    width: 1080px;
    margin: 0px auto;
    padding: 15px;
    height: 95px;
}

header li {
    list-style-type: none;
    float: left;
    text-align: left;
    color: rgb(255, 255, 255);
}

#header #sitename {
    margin-top: 25px;
}

#header #sitename a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}

.header {
    background-color: #B81A47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    color: #000;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: coral;
}

.header .btn button {
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: aliceblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: aliceblue;
    color: coral;
    transform: scale(1.1);
}

* PIE DE PÃGINA*/ footer {
    position: relative;
    bottom: 0;

    width: 100%;
    font-size: small;
}

footer>.info {
    display: flex;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*REDES SOCIALES*/
footer>.info>.redes-sociales {
    width: 90%;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

footer>.info>.redes-sociales>a>img {
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

/*EQUIPO*/
footer>.info>.equipo {
    padding-inline-end: 8px;
}

footer .integrante {
    list-style: none;
    font-style: italic;

    font-size: x-small;

    text-align: end;
}

footer>.materia {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-weight: bolder;
    text-align: center;
}